<app-header-modify></app-header-modify>
<div class="title"><p>Xác nhận mua hàng</p></div>

<div class="top">
  <div class="incart">
    <div class="form">
      <label for="">Sô điện thoại</label><br>
      <input type="text" [value]="user.phone"><br>
      <label for="">Họ và tên</label><br>
      <input type="text"[value]="user.name"><br>
      <label for="">Địa chỉ</label><br>
      <input type="text" [value]="user.address">
    </div>
    <hr>
    <div class="payments-type">
      <div class="pm-title">Hình thức thanh toán</div>
      <div class="c-radio">
        <input type="radio" name="ck" id="car" value="order-success"  [(ngModel)]="selectedPage"><label for="car">Thanh toán khi nhận hàng</label>
      </div>
      <div class="c-radio">
        <input type="radio" name="ck" id="chk" value="payment/payment-transfer" [(ngModel)]="selectedPage"><label for="chk">Chuyển khoản</label>
      </div>
    </div>
    <div class="come-back" routerLink="/cart">
      <img src="./assets/icon/back.png" alt=""  />Trở về
    </div>
  </div>
  <div class="payment">
    <div class="total_payment_amount">
      <div class="list"><label>Tổng tiền</label><span>{{getTotalPrice().toLocaleString('vi-VN')}}<span> ₫</span></span></div>
      <div class="list"><label>Giảm giá</label><span>xxxx</span></div>
      <div class="list"><label>Thuế GTGT</label> <span>+10%</span></div>
      <hr />
      <div class="list"><label>Tổng cộng</label> <span>{{sum().toLocaleString('vi-VN')}}<span> ₫</span></span></div>
      <input type="button" value="Tiến hành đặt hàng" id="purchase" (click)="goToPage()"/>
    </div>
  </div>
</div>


<app-footer></app-footer>

