body{
  background: #F8F9FA
}
.none{
  height: 150px;
}
/* For product bar */
.product-bar a, .product-bar span{
  color: #8B96A5;
  text-decoration: none;
}

/* For image and information */
.product-bar, .product-infor, .product-description, .product-suggestion{
  display: flex;
  box-sizing: border-box;
  border: 1px solid #DEE2E7;
  border-radius: 6px;
  margin-left: 50px;
  margin-right: 50px;
  font-size: 16px;
  align-items: center;
  font-family: sans-serif;
  padding: 12px;
  background-color: #fff;
  margin-bottom: 10px;
}

.product-description, .product-suggestion{
  display: block;
}

.product-name-text{
  font-weight: bold;
  font-size: 24px;
}

.product-image{
  width: 40%;
  align-items: center;
}

.image-design{
  width: 400px;
  height: 400px;
}

.product-noti{
  align-items: center;
}

.price-detail{
  display: flex;
  box-sizing: border-box;
  border-radius: 6px;
  font-size: 16px;
  background: #FFF0DF;
  line-height: 40px;
  width: 100%;
  text-align: center;
}

.text-detail{
  margin-left: 35px;
  margin-right: 35px;
}

.discounted{
  font-weight: bold;
  color: #FA3434;
  font-size:25px;
}

.origin{
  font-weight: bold;
  font-size:25px;
}

.table-detail{
  line-height: 40px;
  margin-left: 5px;
  max-width: 100%;
  border-collapse: collapse;
}

.table-detail tr, .table-detail td{
  border: 1px solid #000;
}

.table_general{
  line-height: 40px;
  margin-left: 5px;
  max-width: 100%;
  border: none;
}

.product_detail{
  padding: 14px 16px;
}

.btn-add{
  margin-left: 200px;
  width: 200px;
  height: 45px;
  background: linear-gradient(180deg, #127FFF 0%, #0067FF 100%);
  border: none;
  border-radius: 6px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}


/* For description */
.topnav {
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.product-suggestion p, .product-bar a{
  padding: 14px 16px;
  font-weight:bold;
}

.btn-describe{
  border: none;
  background-color: #fff;
  padding: 14px 16px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
}

.product-list{
  display: flex;
  padding: 3em;
  flex-wrap: wrap;
}

.product-list .card {
  background-color: #dcdcdc;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 1em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 1em;
  width: 270px;
  height: 90%;
}

.card .title{
  font-size: 16px;
  font-weight: bold;
}

.card .text {
  color: #FA3434;
  font-weight: bold;
  font-size:18px;
}

.card .image{
  width: 100%;
  object-fit: cover;
  margin-bottom: 1em;
}
.card .product-choice{
  text-align:center;
}

.product-choice .btn-buy{
  width: 100px;
  height: 40px;
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  background: linear-gradient(180deg, #127FFF 0%, #0067FF 100%);
  text-align:center;
}
