<div class="footer">
  <div class="footer-navigation">
    <div class="social">
      <img src="./assets/logo/logo-tech-shop.png" alt="logo tech shop" routerLink="/">
      <p>Thông tin về công ty chúng tôi</p>
      <div class="icon-social">
        <img src="./assets/icon/facebook3.png" alt="">
        <img src="./assets/icon/twitter3.png" alt="">
        <img src="./assets/icon/linkedin3.png" alt="">
        <img src="./assets/icon/instagram3.png" alt="">
        <img src="./assets/icon/youtube3.png" alt="">
      </div>
    </div>
    <div class="info">
      <p>Giới thiệu</p>
      <ul>
        <li routerLink="/gioithieu">Giới thiệu công ty</li>
        <li routerLink="">Các cửa hàng</li>
        <li routerLink="">Danh mục sản phẩm</li>
        <li routerLink="">Blogs</li>
      </ul>
    </div>
    <div class="info">
      <p>Thông tin</p>
      <ul>
        <li routerLink="">Thông tin khách hàng</li>
        <li routerLink="">Chính sách hoàn tiền</li>
        <li routerLink="">Các dịch vụ của công ty</li>
        <li routerLink="">Tuyển dụng</li>
      </ul>
    </div>
    <div class="info">
      <p>Người dùng</p>
      <ul>
        <li routerLink="">Hướng dẫn đăng nhập</li>
        <li routerLink="">Hướng dẫn đăng ký</li>
        <li routerLink="">Hướng dẫn thanh toán</li>
        <li routerLink="">Hướng dẫn mua hàng</li>
      </ul>
    </div>
    <div class="app">
      <p>Tải app</p>
      <div class="icon-app">
        <a href="#"><img src="./assets/icon/appstore.png" alt="App Store"></a>
        <a href="#"><img src="./assets/icon/shplay.png" alt="SH Play"></a>
      </div>
    </div>
  </div>

  <div class="under">
    <span>© 2023 Ecommerce.</span>
  </div>
</div>
