<app-header></app-header>
<app-subheader></app-subheader>

<!-- <app-breadcrumb></app-breadcrumb> -->

<div class="container-filter-products"> <!-- vùng chứa tất cả thông tin sản phẩm và filter -->
  <div class="filter"> <!-- Vùng filter -->
    <div class="filter-types">
      <div class="filter-value">
        <div class="type">Thương hiệu</div>
        <ol>
          <li><input type="checkbox" name="" id="">Sumsung</li>
          <li><input type="checkbox" name="" id="">Sumsung</li>
          <li><input type="checkbox" name="" id="">Sumsung</li>
        </ol>
      </div>
      <div class="filter-value">
        <div class="type">Thương hiệu</div>
        <ol>
          <li><input type="checkbox" name="" id="">Sumsung</li>
          <li><input type="checkbox" name="" id="">Sumsung</li>
          <li><input type="checkbox" name="" id="">Sumsung</li>
        </ol>
      </div>
    </div>

  </div>
  <div class="products"> <!-- vùng chứa thông tin sản phẩm -->
    <div class="count-view">
      <p>Có X sản phẩm được tìm thấy</p>
      <div class="button-view">
        <button></button>
        <button></button>
      </div>
    </div>
    <div class="products-info"> <!-- vùng chứa tất cả sản phẩm -->
      <div class="product-info"> <!-- vùng chứa 1 sản phẩm-->
        <div class="product-img"></div> <!-- vùng chứa ảnh -->
        <div class="product-info-detail">
          <p class="product-name"></p>
          <div class="product-price">
            <div class="price"></div>
            <div class="initial_price"></div>
          </div>
          <div class="general_info">

          </div>
          <button>Mua ngay</button>
        </div>
        <img src="" alt="" class="product-like">
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
