body{
  background: #F8F9FA
}

.product-infor{
  display: flex;
  box-sizing: border-box;
  border: 1px solid #DEE2E7;
  border: 6px;
  margin-left: 50px;
  margin-right: 50px;
  font-size: 16px;
  align-items: center;
  font-family: sans-serif;
}

.product-name-text{
  font-weight: bold;
  font-size: 24px;
}

.product-image{
  width: 40%;
  align-items: center;
}

.image-design{
  width: 400px;
  height: 400px;
}

.product-noti{
  align-items: center;
}

.price-detail{
  display: flex;
  box-sizing: border-box;
  font-size: 16px;
  background: #FFF0DF;
  line-height: 40px;
  width: 100%;
}

.text-detail{
  margin-left: 50px;
  margin-right: 50px;

}

.discounted{
  font-weight: bold;
  color: #FA3434
}

.table-detail{
  line-height: 40px;
}

.btn-add{
  width: 200px;
  height: 45px;
  background: linear-gradient(180deg, #127FFF 0%, #0067FF 100%);
  border: none;
  border-radius: 6px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}
