<!doctype html>
<html lang="en">

<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

<body>
  <header>
    <!-- place navbar here -->
  </header>
  <main>
    <div class="row">
      <div class="col-12">
        <div class="d-flex justify-content-end mb-3" style="position: relative;">
          <button type="button" class="btn btn-link" style="color:black; position: absolute; top: 0; right: 0;">
            <span class="material-icons">close</span>
          </button>
        </div>
        <p class="h1 text-center" style="font-size: 24px;"><small>Nhập mật khẩu</small></p>
        <form>
          <div class="mb-3" style="width:50%; margin:auto;">
            <input type="password" class="form-control" id="password" placeholder="Nhập mật khẩu">
          </div>
          <div class="mb-3" style="width:50%; margin:auto;">
            <div class="col-12">
              <button type="submit" class="btn btn-primary form-control">Xác nhận</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </main>
  <footer>
    <!-- place footer here -->
  </footer>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>
</body>

</html>
