<!doctype html>
<html lang="en">

<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

<body>
  <header>
    <!-- place navbar here -->
    <app-header-modify></app-header-modify>
    <div class="none"></div>
  </header>
  <main>
    <div class="container">
      <!-- <div class="row">
        <div class="col-12">
          <div style="display: flex; align-items: center;">
            <span class="material-icons" style="font-size: 30px; margin-right: 8px; cursor:pointer">arrow_back</span>
            <p style="font-size: 25px; margin: 0; font-weight:500">Lấy lại tài khoản</p>
          </div>
        </div>
      </div> -->
      <div class="row">
        <div class="col-12 d-flex justify-content-center">
          <img src="assets/images/reset_acc.png" alt="reset account" class="img-fluid">
        </div>
        <div class="col-12">
          <p class="h1 text-center" style="font-size: 24px;"><small>Lấy lại tài khoản TechSmember</small></p>
          <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
            <div class="mb-3" style="width:50%; margin:auto;">
              <input matInput type="password" class="form-control" name="new_password" id="new_password" placeholder="Nhập mật khẩu mới"
              formControlName="new_password" [disabled]="true"
                [class.is-invalid]="resetPasswordForm.controls['new_password'].invalid && resetPasswordForm.controls['new_password'].touched"
                [class.is-valid]="resetPasswordForm.controls['new_password'].valid">
              <div *ngIf="resetPasswordForm.controls['new_password'].invalid && resetPasswordForm.controls['new_password'].touched">
                <small class="text-danger" *ngIf="resetPasswordForm.controls['new_password'].hasError('pattern')">Mật khẩu tối thiểu 8 ký tự, chứa ít nhất 1 chữ thường và 1 chữ hoa, 1 chữ số và 1 ký tự đặc biệt</small>
              </div>
            </div>
            <div class="mb-3" style="width:50%; margin:auto;">
              <input  matInput type="password" class="form-control" name="confirm_password" id="confirm_password" placeholder="Nhập lại mật khẩu"
              formControlName="confirm_password" [disabled]="true"
                [class.is-invalid]="resetPasswordForm.controls['confirm_password'].invalid && resetPasswordForm.controls['confirm_password'].touched"
                [class.is-valid]="resetPasswordForm.controls['confirm_password'].valid">
                <div *ngIf="resetPasswordForm.errors?.['misMatch']">
                  <small class="text-danger">Mật khẩu không khớp</small>
                </div>
            </div>
            <div class="mb-3" style="width:50%; margin:auto">
              <div class="col-12" style="margin-top:30px">
                <button type="submit" class="btn btn-primary form-control" [disabled]="resetPasswordForm.invalid">Xác nhận</button>
              </div>
            </div>
            <div class="mb-3" style="width:50%; margin:auto; background:black">
              <hr style="height:1px;border-width:0;color:black;background-color:black">
            </div>
            <div class="mb-3" style="width:50%; margin:auto;">
              <p routerLink="/dangnhap" class="text-center text-note" style="font-weight:500">Đăng nhập ngay</p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </main>
  <footer>
    <!-- place footer here -->
    <app-footer></app-footer>
  </footer>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>
</body>

</html>
