.container{
  padding: auto;
}
input{
  background-color: #D9D9D9;
  color: #696464;
  font-size: 16px;
  border-radius: 0;
}
button{
  border-radius: 30px;
}
.h1{
  font-weight: 500;
}
.continue{
  border-radius: 0;
  align-items: center;
}
.none{
  height: 84px;
}
