.none{
  height: 84px;
}
.container{
  padding: auto;
}
input{
  background-color: #D9D9D9;
  color: #696464;
  font-size: 16px;
  border-radius: 0;
}
button{
  border-radius: 30px;
}
.continue{
  border-radius: 0;
  align-items: center;
}
.text-note{
  color: #ff9017;
  cursor: pointer;
  font-weight: 500
}
