<app-header></app-header>
<app-subheader></app-subheader>
<div class="none"></div>
<div class="product-bar">
  <a href="#home">Trang chủ</a>
  <span>></span>
  <a href="#laptop">Laptop</a>
  <span>></span>
  <a href="#">{{selectedTablet.name}}</a>
</div>
<br>
<div class="product-infor">
  <div class="product-image" >
    <img class="image-design" src="{{selectedTablet.image}}">
  </div>

  <div class="product-noti">
    <h1 class="product-name-text">{{selectedTablet.name}}</h1>
    <div class="price-detail">
        <div class="text-detail">
          Giá hiện tại <br><span class="discounted">{{selectedTablet.initial_price - selectedTablet.discount_amount}} đ</span>
        </div>
        <div class="text-detail">
          Giá gốc <br><span class="origin">{{selectedTablet.initial_price}} đ</span>
        </div>
        <div class="text-detail">
          Tiết kiệm <br><span class="discounted">{{selectedTablet.discount_amount}} đ</span>
        </div>
    </div>

    <div>
      <table class="table_general">
        <tr>
          <td><b>CPU </b></td>
          <td>{{selectedTablet.general_info.cpu}}</td>
        </tr>
        <tr>
          <td><b>Màn hình </b></td>
          <td>{{selectedTablet.general_info.screen}}</td>
        </tr>
        <tr>
          <td><b>Ram </b></td>
          <td>{{selectedTablet.general_info.ram}}</td>
        </tr>
        <tr>
          <td><b>Bộ nhớ trong </b></td>
          <td>{{selectedTablet.general_info.rom}}</td>
        </tr>
      </table>
    </div>

  <button class="btn-add">Thêm vào giỏ hàng</button>
  </div>

</div>
<br>
<div class="product-description">
  <div class="topnav">
    <button class="btn-describe">Mô tả sản phẩm</button>
    <button class="btn-describe">Reviews</button>
    <button class="btn-describe">Sản phẩm đi kèm</button>
  </div>
  <hr>
    <div class="product_detail">
      <table class="table-detail">
        <tr>
          <td><b>CPU: </b></td>
          <td>{{selectedTablet.details.details.cpu_detail}}</td>
        </tr>
        <tr>
          <td><b>Màn hình: </b></td>
          <td>{{selectedTablet.details.details.screen_detail}}</td>
        </tr>
        <tr>
          <td><b>Camera sau: </b></td>
          <td>{{selectedTablet.details.details.backcamera_detail
            }}</td>
        </tr>
        <tr>
          <td><b>Camera selfie: </b></td>
          <td>{{selectedTablet.details.details.frontcamera_detail}}</td>
        </tr>
        <tr>
          <td><b>Ram: </b></td>
          <td>{{selectedTablet.details.details.ram_detail}}</td>
        </tr>
        <tr>
          <td><b>Bộ nhớ trong: </b></td>
          <td>{{selectedTablet.details.details.rom_detail}}</td>
        </tr>
        <tr>
          <td><b>Dung lượng pin: </b></td>
          <td>{{selectedTablet.details.details.battery_detail}}</td>
        </tr>
        <tr>
          <td><b>Thẻ Sim: </b></td>
          <td>{{selectedTablet.details.details.sim_detail}}</td>
        </tr>
        <tr>
          <td><b>Hệ điều hành: </b></td>
          <td>{{selectedTablet.details.details.os_detail}}</td>
        </tr>
        <tr>
          <td><b>Xuất xứ: </b></td>
          <td>{{selectedTablet.details.details.origin_detail}}</td>
        </tr>
        <tr>
          <td><b>Thời gian ra mắt: </b></td>
          <td>{{selectedTablet.details.details.release_detail}}</td>
        </tr>
      </table>

    </div>


</div>
<br>
<div class="product-suggestion">
  <p>Sản phẩm bạn có thể quan tâm</p>
  <hr>
  <div class="product-list" >
    <div *ngFor="let tablet of tabletProducts" >
      <div class="card" *ngIf="tablet._id != selectedTablet._id">
        <div class="image"><img src="{{tablet.image}}"></div>
        <div class="title">{{tablet.name}}</div>
        <div class="text">{{tablet.initial_price - tablet.discount_amount}} đ</div>
        <div class="product-choice">
          <button class="btn-buy" routerLink="/tablets/{{tablet._id}}">Mua ngay</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="advertisement"></div>
<app-footer></app-footer>


