
<app-header-modify></app-header-modify>
<app-subheader></app-subheader>
<div class="none"></div>
<div class="product-bar">
  <a href="#home">Trang chủ</a>
  <span>></span>
  <a routerLink="/earphone">earphone</a>
  <span>></span>
  <a >{{selectedEarphone.name}}</a>
</div>
<br>
<div class="product-infor">
  <div class="product-image" >
    <img class="image-design" src="{{selectedEarphone.image}}">
  </div>

  <div class="product-noti">
    <h1 class="product-name-text">{{selectedEarphone.name}}</h1>
    <div class="price-detail">
        <div class="text-detail">
          Giá hiện tại <br><span class="discounted">{{selectedEarphone.initial_price - selectedEarphone.discount_amount}} đ</span>
        </div>
        <!-- <div class="text-detail">
          Giá gốc <br><span class="origin">{{selectedEarphone.initial_price}} đ</span>
        </div> -->
        <!-- <div class="text-detail">
          Tiết kiệm <br><span class="discounted">{{selectedEarphone.discount_amount}} đ</span>
        </div> -->
    </div>

    <div>
      <table class="table_general">
        <tr>
          <td><b>Loại tai nghe </b></td>
          <td>{{selectedEarphone.general_info.type}}</td>
        </tr>
        <tr>
          <td><b>Cách kết nối </b></td>
          <td>{{selectedEarphone.general_info.connect}}</td>
        </tr>
        <tr>
          <td><b>Tính năng </b></td>
          <td>{{selectedEarphone.general_info.features}}</td>
        </tr>
      </table>
    </div>

    <button class="btn-add" (click)="addToCart()">Thêm vào giỏ hàng</button>
  </div>

</div>
<br>
<div class="product-description">
  <div class="topnav">
    <button class="btn-describe">Mô tả sản phẩm</button>
    <button class="btn-describe">Reviews</button>
    <button class="btn-describe">Sản phẩm đi kèm</button>
  </div>
  <hr>
  <div class="product_detail">
    <tr *ngFor="let item of selectedEarphone.details[0].details | keyvalue">
      <td><b>{{item.key}}</b></td>
      <td>{{item.value}}</td>
    </tr>

  </div>
  <hr>
  <br>
  <div class="description">{{selectedEarphone.details[0].description}}</div>

</div>

<br>
<div class="product-suggestion">
    <p>Sản phẩm bạn có thể quan tâm</p>
    <hr>
    <div class="product-list" >
      <div *ngFor="let earphone of earphoneProducts.slice(0, productsToShow)" >
        <div class="card" *ngIf="earphone._id != selectedEarphone._id">
          <div class="image"><img src="{{earphone.image}}"></div>
          <div class="title">{{earphone.name}}</div>
          <div class="text">{{earphone.initial_price - earphone.discount_amount}} đ</div>
          <div class="product-choice">
            <button class="btn-buy" routerLink="/earphone/{{earphone._id}}">Mua ngay</button>
          </div>
        </div>
      </div>
    </div>
    <div class="see-more">
      <button (click)="loadMore()" [hidden]="productsToShow >= earphoneProducts.length">Xem thêm sản phẩm</button>
    </div>
</div>

<div class="advertisement"></div>
<app-footer></app-footer>

