<app-header></app-header>
<div class="none"></div>
<div class="intro_section_1">
  <img class="img_intro_1" src="./assets/images/ytyy-min.jpg" alt="">
  <div class="divlogo">
    <img src="./assets/logo/logo-tech-shop.png" alt="" class="logo">
  </div>

  <div class="about">
    <h4>VỀ CHÚNG TÔI</h4>
    <br>
    <h2>TechShop là công ty chuyên cung cấp các sản phẩm công nghệ, đặc biệt là các sản phẩm liên quan đến điện thoại, máy tính, tablet và các phụ kiện.</h2>
  </div>
</div>
<div class="intro_section_2">
  <div class="info">
    <div class="image_intro">
      <img src="./assets/images/intro_title.png" alt="" class="type_intro">
      <br>
      <p> Với hơn 10 năm kinh nghiệm trong lĩnh vực này, TechShop đã xây dựng được một danh tiếng vững chắc trong cộng đồng người tiêu dùng. Chúng tôi cam kết mang đến cho khách hàng những sản phẩm chất lượng nhất, đảm bảo tính năng và tính thẩm mỹ cao.</p>
    <br>
    <p>Với sự phát triển của công nghệ, chúng tôi luôn cập nhật và mở rộng sản phẩm để đáp ứng nhu cầu đa dạng của khách hàng. Chúng tôi tin rằng với sự đổi mới và sáng tạo, chúng tôi sẽ tiếp tục đem đến cho khách hàng những trải nghiệm mua sắm tốt nhất và những sản phẩm công nghệ tiên tiến nhất. Hãy đến với TechShop để trải nghiệm và cảm nhận sự khác biệt.</p>
    <br>
    <h4>Đối tác của chúng tôi</h4>
    <br>
    <p>Chúng tôi là đối tác của các hãng lớn như Apple, Samsung, Dell, HP, Lenovo, Asus, Acer, Sony, LG, HTC, Nokia, Motorola, và nhiều thương hiệu khác.</p>
    </div>

  </div>
  <div class="image_company">
    <img src="./assets/images/company.jpg" alt="">
  </div>

</div>
<app-footer></app-footer>
