.title{
  padding: 110px 0px 20px 9%;
  font-size: 20px;
}
.top{
  position: relative;
  width: 82%;
  min-height: 386px;
  left: 9%;
  display: flex;
}
.incart{
  box-sizing: border-box;
  width: 74.5%;
  height: auto;
  border-bottom: 1px solid #DEE2E7;
  background-color: rgb(30, 49, 43);
  border-radius: 5px;
}
.items{
  width: 94%;
  height: auto;
  margin: 20px 20px 0px 20px;
  border-bottom: 1px solid #DEE2E7;
  /* background-color: rgb(4, 31, 31); */

}
.info_product{
  display: flex;
  justify-content: space-between;
}
.image{
  width: 80px;
  height: 80px;
  position: relative;
  margin-right: 10px;
  cursor: pointer;
}
.name_product{
  cursor: pointer;
}
.image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.info{
  display: flex;
}
.type{
  display: flex;
  flex-direction: column;
}
.quantity{
  display: flex;
  flex-direction: column;
}
.cost{
  padding: 15px 0px;
  font-size: 18px;
  text-align: right;
}
#number-item{
  height: 24px;
  padding: 5px;
  font-size: 18px;
}

.button-dr{
  padding-bottom: 10px;
  margin-left: 110px;
}
#delete{
  color: #FA3434;
  margin-right: 10px;
}
#remove{
  color: #0D6EFD;
}
#remove,#delete{
  background: #FFFFFF;
  border: 1px solid #DEE2E7;
  box-shadow: 0px 1px 2px rgba(56, 56, 56, 0.08);
  border-radius: 6px;
  box-sizing: border-box;
  font-size: 16px;
  padding: 10px;
  cursor: pointer;
}
.payment{
  position: absolute;
  width: 23.5%;
  min-width: 220px;
  height: 386px;
  right:0;
  font-size: 18px;
}
.redeem{
  position: absolute;
  width: calc(100% - 40px);
  height: 70px;
  top: 0;
  padding: 20px;
}
.total_payment_amount{
  position: absolute;
  top: 120px;
  width: calc(100% - 40px);
  height: 220px;
  padding: 20px;
}
.input-code-redeem{
  display:flex;
  justify-content: space-between;
  margin-top: 10px;
  width: calc(100% -40px);
}
#redeem-code{
  position: absolute;
  width:calc(66% - 22px);
  height: 38px;
  left: 0px;
  padding: 0px 10px;
  border-radius: 5px 0 0 5px;
  color: gray;
  border: 1px solid #DEE2E7;
}
#claim{
  position: absolute;
  width:calc(34% - 2px);
  height: 40px;
  right: 0px;
  border-radius: 0 5px 5px 0px;
  color: #0067FF;
  border: 1px solid #DEE2E7;
  background-color: #FFFFFF;
  cursor: pointer;
}
.redeem ,.total_payment_amount ,.incart{
  background-color: #ffffff;
  border-radius: 6px;
  border: 1px solid #DEE2E7;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
}
.list{
  display:flex;
  justify-content: space-between;
  height: 24px;
  margin-bottom: 5px;
}

hr{
  margin: 17px 0px;
}
#purchase{
  position: absolute;
  width: calc(100% - 40px);
  height: 54px;
  background-color: #00B517;
  color: #ffffff;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
}
.input-code-redeem{
  position: absolute;
  width: 88%;
  height: 44px;
  padding: 1px;
}
.input-code-redeem input{
  font-size: 13px;
}
.come-back{
  width: 119px;
  height: 40px;
  margin: 20px;
  color: #ffffff;
  font-size: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(180deg, #127FFF 0%, #0067FF 100%);
  border-radius: 6px;
  cursor: pointer;
}

/* ========== favorite products =========== */
.fa-title{
  padding: 20px 0px 0px 20px;
  font-size: 20px;
}
.favorite-products{
  position: relative;
  width: 82%;
  margin: 10px 9%;
  height: auto;
  /* min-height: 386px; */
  background-color: #FFFFFF;
  border-radius: 6px;
  border: 1px solid #DEE2E7;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
}
.favorite{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* justify-content:center; */
  /* align-items: center; */
  padding: 20px;
}
.item-favorite{
  position: relative;
  width: 250px;
  height: auto;
  padding:10px ;

  background-color: #FFFFFF;
  border-radius: 6px;
  border: 1px solid #DEE2E7;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
}
.product-img{
  display: flex;
  /* text-align: center; */
  align-items: center;
  justify-content: center;
  background-color: #eee;
  height: 240px;
  cursor: pointer;
}
.product-img img{
  width: 100%;
  height: 100%;
  object-fit:contain;
}
.button-fa-item{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
  bottom: 10px;
}
.button-fa-item-cart{
  height: 40px;
  width: 74%;
  color: #0067FF;
  font-size: 16px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* background: linear-gradient(180deg, #127FFF 0%, #0067FF 100%); */
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #DEE2E7;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
}
.button-fa-item-delete{
  height:40px;
  width: 22%;
  color: #FA3434;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  border: 1px solid #DEE2E7;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
}
.price{
  color:#4e4c4c;
  font-size: 18px;
  margin: 10px 0px;
}
.hidden{
  display: none;
}
