<app-header-modify></app-header-modify>
<div class="title"><p>Thanh toán chuyển khoản</p></div>


<div class="inqacode">

  <p class="pm-tr-title">vui lòng quét mã bên dưới <br> dể chuyển khoản</p>
  <div></div>
  <div class="qa-code">
    <img src="./assets/icon/qa-code.png" alt="" class="qa-code-img">
  </div>
  <div class="pm-info">
    <p>Thông tin chuyển khoản</p>
    <br>
    <p>Số tài khoản:</p>
    <p>Ngân hàng:</p>
  </div>
  <div class="come-back" routerLink="/payment">
    <img src="./assets/icon/back.png" alt="" />Trở về
  </div>
</div>




<app-footer></app-footer>


