<app-header></app-header>
<app-subheader></app-subheader>
<div class="none"></div>
<div class="product-bar">
  <a href="#home">Trang chủ</a>
  <span>></span>
  <a href="#laptop">Laptop</a>
  <span>></span>
  <a href="#">{{selectedLaptop.name}}</a>
</div>
<br>
<div class="product-infor">
  <div class="product-image" >
    <img class="image-design" src="{{selectedLaptop.image}}">
  </div>

  <div class="product-noti">
    <h1 class="product-name-text">{{selectedLaptop.name}}</h1>
    <div class="price-detail">
        <div class="text-detail">
          Giá hiện tại <br><span class="discounted">{{selectedLaptop.initial_price - selectedLaptop.discount_amount}} đ</span>
        </div>
        <div class="text-detail">
          Giá gốc <br><span class="origin">{{selectedLaptop.initial_price}} đ</span>
        </div>
        <div class="text-detail">
          Tiết kiệm <br><span class="discounted">{{selectedLaptop.discount_amount}} đ</span>
        </div>
    </div>

    <div>
      <table class="table-detail">
        <tr>
          <td><b>CPU </b></td>
          <td>{{selectedLaptop.details.cpu_detail}}</td>
        </tr>
        <tr>
          <td><b>Screen </b></td>
          <td>{{selectedLaptop.details.screen_detail}}</td>
        </tr>
        <tr>
          <td><b>Ram </b></td>
          <td>{{selectedLaptop.details.ram_detail}}</td>
        </tr>
        <tr>
          <td><b>Rom </b></td>
          <td>{{selectedLaptop.details.rom_detail}}</td>
        </tr>
        <tr>
          <td><b>Graphic </b></td>
          <td>{{selectedLaptop.details.graphic_detail}}</td>
        </tr>
        <tr>
          <td><b>Operating system </b></td>
          <td>{{selectedLaptop.details.os_detail}}</td>
        </tr>
        <tr>
          <td><b>Weight </b></td>
          <td>{{selectedLaptop.details.weight_detail}}</td>
        </tr>
        <tr>
          <td><b>Size </b></td>
          <td>{{selectedLaptop.details.size_detail}}</td>
        </tr>
        <tr>
          <td><b>Origin </b></td>
          <td>{{selectedLaptop.details.origin_detail}}</td>
        </tr>
        <tr>
          <td><b>Release time </b></td>
          <td>{{selectedLaptop.details.release_detail}}</td>
        </tr>
      </table>
    </div>

  <button class="btn-add">Thêm vào giỏ hàng</button>
  </div>

</div>
<br>
<div class="product-description">
  <div class="topnav">
    <a class="active" href="#description">Mô tả</a>
    <a href="#reviews">Reviews</a>
    <a href="#supplement">Sản phẩm đi kèm</a>
  </div>
</div>
<br>
<div class="product-suggestion">
    <p>Sản phẩm bạn có thể quan tâm</p>
</div>

<div class="advertisement"></div>
<app-footer></app-footer>

