<div class="popup-login">
  <img class="exit" src="./assets/icon/exit.png" alt="" />
  <div class="image"><img src="./assets/logo/log-in.png" alt="" /></div>
  <div class="form-login">
    <p>SỬ DỤNG TÀI KHOẢN GIÚP TRẢI NGHIỆM ĐƯỢC TỐT HƠN</p>
    <input type="text" placeholder="Email / SĐT" />
    <input type="password" placeholder="Mật khẩu" />
    <div class="log-res">
      <input type="button" value="Đăng nhập" />
      <a class="reset-account" routerLink="/quenmatkhau">lấy lại mật khẩu</a>
    </div>
    <hr />
    <a class="register" routerLink="/dangky">Tôi chưa có tài khoản</a>
  </div>
</div>
