
<app-header></app-header>
<app-subheader></app-subheader>
<div class="advertisement">
  <div class="menu--product--left">
      <div id="menu">
          <ul>
            <li id="dm">
              <span id="dmsp">Danh mục</span>
            </li>
              <li><a href="#">Điện thoại</a>
                  <ul class="sub-menu">
                      <li class="g1"><a href="#">Iphone</a></li>
                      <li class="g1"><a href="#">Samsung</a></li>
                      <li class="g1"><a href="#">Oppo</a></li>
                      <li class="g1"><a href="#">Xiaomi</a></li>
                      <li class="g1"><a href="#">Nokia</a></li>
                  </ul>
              </li>
              <li><a href="#">Laptop</a>
                  <ul class="sub-menu">
                      <li class="g1"><a href="#">Macbook</a></li>
                      <li class="g1"><a href="#">HP</a></li>
                      <li class="g1"><a href="#">Dell</a></li>
                      <li class="g1"><a href="#">Acer</a></li>
                      <li class="g1"><a href="#">ASUS</a></li>
                  </ul>
              </li>
              <li><a href="">Máy tính bảng</a>
                  <ul class="sub-menu">
                      <li class="g1"><a href="./tablet-ipad.html">Ipad</a></li>
                      <li class="g1"><a href="./tablet-samsung.html">Samsung</a></li>
                      <li class="g1"><a href="./tablet-xiaomi.html">Xiaomi</a></li>
                      <li class="g1"><a href="./tablet-lenovo.html">lenovo</a></li>
                      <li class="g1"><a href="./tablet-nokia.html">Nokia</a></li>
                  </ul>
              </li>
              <li><a href="#">Đồng hồ</a>
                  <ul class="sub-menu">
                      <li><a href="#">Apple Watch</a></li>
                      <li><a href="#">Mi Watch</a></li>
                      <li><a href="#">Galaxy Watch</a></li>
                  </ul>
              </li>
              <li><a href="#">Phụ kiện</a>
                  <ul class="sub-menu">
                      <li class="g1"><a href="#">Máy ảnh</a></li>
                      <li class="g1"><a href="#">Cáp sạc</a></li>
                      <li class="g1"><a href="#">Pin dự phòng</a></li>
                      <li class="g1"><a href="#">Tai nghe - Loa</a></li>
                      <li class="g1"><a href="#">Bàn phím - Chuột</a></li>
                      <li class="g1"><a href="#">Bàn ghế Gaming</a></li>
                      <li class="g1"><a href="#">Giá đỡ laptop</a></li>
                  </ul>
              </li>
              <li class="m1"><a href="#">Sản phẩm khác</a></li>
          </ul>
        </div>
  </div>
  <div id="slide--show">
      <div class="slide-wrapper">
              <div class="slide"><img src="assets/image/ad1.jpg" width="800px" height="370"></div>
              <div class="slide"><img src="assets/image/ad2.png" width="800px" height="370"></div>
              <div class="slide"><img src="assets/image/ad3.jpeg"  width="800px" height="370"></div>
      </div>
  </div>
  <div class="QC--right">
      <div class="QC--top--right">
          <img src="assets/image/add2.jpg" alt="" width="330px" height="165px" class="QC--right--1">
      </div>
      <div class="QC--bottom--right">
          <img src="assets/image/add3.jpg" alt="" width="330px" height="205px" class="QC--right--2">
      </div>
  </div>
</div>

<div class="require">

  <div class="require-box-content">
    <div class="content--leftbox">
      <span style="font-size: 18px; font-weight: bold;">Gửi yêu cầu đến tất cả các nhà cung cấp một cách dễ dàng
      <br>
        <span style="font-size: 15px; font-weight: normal;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut dolorem unde corrupti alias saepe voluptatum, commodi quidem sed sint porro eveniet quis cum accusamus pariatur et assumenda quas deserunt illo.</span>
      </span>
    </div>
    <div class="content--rightbox">
    <form action="">
      <div class="form--container">
        <form action="server.html" method="get">
          <span style="font-size: 18px; font-weight: bold;">Gửi yêu cầu</span>
          <div>
            <input type="text" class="form--input1" value="" id="" name="" placeholder="Bạn cần sản phẩm gì?"/>
          </div>

          <div>
            <textarea name="inputdata" id="input" class="form--input2"  cols="60" rows="5" placeholder="Chi tiết sản phẩm"></textarea>
          </div>
            <div>
              <input type="number" class="form--input3"  min="0" max="20" placeholder="Số lượng"/>
            </div>
          <div class="">
            <input type="button" onclick="alert('Cảm ơn quý khách đã gửi yêu cầu')" value="Gửi" class="button-send"/>
        </div>
        </form>
      </div>
    </form>
  </div>
  </div>
</div>


<p>{{errMessage}}</p>

<span class="product-name-content">Sản phẩm nổi bật</span>
<div class="container">
  <div class="row">
    <div class="col-md-4" *ngFor="let phone of phones">
      <div class="card">
        <div class="img-container">
          <div class="d-flex justify-content-between align-items-center p-2 first">
          </div>
          <div class="text-center">
            <img src="{{phone.image}}" class="img-scale" >
          </div>
        </div>
        <div class="product-detail-container">
          <div class="d-flex justify-content-between align-items-center">
            <h6 class="mb-0 text-truncate">{{phone.name}}</h6>
          </div>
          <div>
            <span class="text-danger fw-bold">${{phone.initial_price}}</span>
            <br>
            <span class="">Giảm {{phone.discount_amount}}</span>
          </div>
          <div class="d-flex justify-content-between align-items-center mt-2">
            <div class="ratings"><i class="bi bi-star-fill me-1"></i><span>{{phone.brand}}</span></div>
          </div>
          <div class="mt-3"><button class="btn btn-info d-block w-100 text-white fw-bold"><span class="muangay">Mua ngay</span></button></div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
