<!doctype html>
<html lang="en">

<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

<body>
  <header>
    <!-- place navbar here -->
    <app-header-modify></app-header-modify>
    <div class="none"></div>
  </header>
  <main>
    <main>
      <div class="container">
        <!-- <div class="row">
          <div class="col-12">
            <div style="display: flex; align-items: center;">
              <span class="material-icons" style="font-size: 30px; margin-right: 8px; cursor:pointer">arrow_back</span>
              <p style="font-size: 25px; margin: 0; font-weight:500">Thông tin của tôi</p>
            </div>
          </div>
        </div> -->
        <div class="row">
          <div class="col-12 d-flex justify-content-center">
            <img src="assets/images/info.png" alt="updateinfo" class="img-fluid">
          </div>
          <div class="col-12">
            <p class="h1 text-center" style="font-size: 24px;"><small>Thông tin tài khoản TechSmember</small></p>
            <form [formGroup]="updateInfoForm" (ngSubmit)="onSubmit()">
              <div class="mb-3" style="width:50%; margin:auto;">
                  <input matInput type="tel" class="form-control" id="phone" placeholder={{user.phone}} disabled>
              </div>
              <div class="mb-3" style="width:50%; margin:auto;">
                  <input matInput type="email" class="form-control" id="email" placeholder={{user.email}} disabled>
              </div>
              <div class="mb-3" style="width:50%; margin:auto;">
                  <input matInput type="text" class="form-control" id="name" name="name" placeholder={{user.name}}
                  formControlName="name"
                  [class.is-invalid]="updateInfoForm.controls['name'].invalid && updateInfoForm.controls['name'].touched"
                  >
                  <div *ngIf="updateInfoForm.controls['name'].invalid && updateInfoForm.controls['name'].touched">
                    <small class="text-danger" *ngIf="updateInfoForm.controls['name'].hasError('minlength')">Họ và tên phải có ít nhất 2 ký tự</small>
                    <small class="text-danger" *ngIf="updateInfoForm.controls['name'].hasError('maxlength')">Họ và tên không được vượt quá 35 ký tự</small>
                    <small class="text-danger" *ngIf="updateInfoForm.controls['name'].hasError('nameNotMatch')">Tên không được chứa ký tự đặc biệt</small>
                  </div>
              </div>
              <div class="mb-3" style="width:50%; margin:auto;">
                  <input matInput type="text" class="form-control" id="address" name="address" placeholder={{user.address}}
                  formControlName="address"
                  [class.is-invalid]="updateInfoForm.controls['address'].invalid && updateInfoForm.controls['address'].touched"
                  >
                  <div *ngIf="updateInfoForm.controls['address'].invalid && updateInfoForm.controls['address'].touched">
                    <small class="text-danger" *ngIf="updateInfoForm.controls['address'].hasError('minlength')">Địa chỉ phải có ít nhất 2 kí tự</small>
                    <small class="text-danger" *ngIf="updateInfoForm.controls['address'].hasError('maxlength')">Địa chỉ chỉ được tối đa 50 kí tự</small>
                  </div>
              </div>
              <div class="mb-3" style="width:50%; margin:auto;">
                <input type="password" class="form-control" id="password" placeholder="Đổi mật khẩu" style="cursor:pointer"
                routerLink="/doimatkhau" (click)="onChangePasswordClick()">
              </div>
              <div class="mb-3" style="width:50%; margin:auto;">
                <div class="col-12" style="margin-top:30px">
                  <button type="submit" class="btn btn-primary form-control">Cập nhật</button>
                </div>
              </div>
          </form>
          </div>
        </div>
      </div>
    </main>
  </main>
  <footer>
    <!-- place footer here -->
    <app-footer></app-footer>
  </footer>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>
</body>

</html>
